@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
}

:root{
    --title-color: #DA251D;
    --primary-color: #1E2832;
    --secundary-color:  #e2352c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 83px;
}

a {
    text-decoration: none;
}

/* Cabeçalho */

header{
    width: 100%;
    height: 83px;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

header .container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

header .logo, header .menu, header .login{
    flex: 1;
    display: flex;
    align-items: center;
}

header .logo img{
    width: 80px;
}

header .menu{
    height: 100%;
    display: flex;
    justify-content: center;
}

header nav{
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex:1;
}

header nav ul li{
    height: 55%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
}

header nav ul li a{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 300ms linear;
    border-bottom: 2px solid transparent;
    height: 100%;
}

header nav ul li:first-child a{
   margin-left: 0;
}

a.active{
    border-bottom: 2px solid var(--secundary-color);
    color:var(--secundary-color);
}

header nav ul li a:hover{
    color: var(--secundary-color);
    border-bottom:2px solid var(--secundary-color);
}

.loginHamb{
    display: none;
}

header .login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .login a{
    display: block;
    padding: 12px 30px;
    font-size: 1.5rem;
    color: white;
    background: linear-gradient(201.04deg, #DA251D 0%, #ff5b52 100%);
    box-shadow: 0px 0px 80px #da261dd8;
    border-radius: 4px;
    font-weight: 500;
    transition: opacity 300ms linear;
}

header .login a:hover{
    opacity: 0.8;
}

/* Principal */

main{
    height: calc(100vh - 83px);
    margin-bottom: 30px;
}

main .container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

main .desc{
    flex: 1;
    display: flex;
    flex-direction: column;
}

main .desc h1{
    color: var(--secundary-color);
    -webkit-font-smoothing: antialiased;
    font-size: 5rem;
    margin: 70px 0 35px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

main .desc h1 span{
    font-size: 6rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

main .desc h1 span::before{
    display: block;
    content: '';
    height: 45px;
    width: 6px;
    background-color: currentColor;
    border-radius: 2px;
    margin-right: 13px;
}

main .desc h3{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
    max-width: 500px;
    line-height: 27px;
    margin-bottom: 40px;
}

main .desc .button{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 55px;
    font-size: 1.7rem;
    color: white;
    background: linear-gradient(201.04deg, #DA251D 0%, #ff5b52 100%);
    box-shadow: 0px 10px 60px #ff0d00ab;
    border-radius: 4px;
    font-weight: 500;
    transition: opacity 300ms linear;
    margin-bottom: 48px;
}

main .desc p{
    flex: 1;
    text-align: center;
}

main .desc .button span{
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    color: white;
}

main .desc .button:hover{
    opacity: 0.9;
}

main .vector{
    max-width: 580px;
    display: flex;
    align-items: center;
}

main .vector img{
    width: 100%;
}

main ul {
    list-style: none;
}

main ul li{
    display:flex;
}

main ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0 8px;
    margin-left: 12px;
    transition: all 280ms linear;
}

main ul li a:first-child{
    margin-left: 0;
}

main ul li a i{
    color: white;
    transition: all 280ms linear;
}

main ul li a:hover{
    background-color: white;
}

main ul li a:hover i{
    color: var(--primary-color);
}

/* Sobre */

section.about{
    background-color: var(--primary-color);
    margin-bottom: 30px;
}

section.about .container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
}

.about .about-img{
    max-width: 500px;
    display: flex;
    align-items: flex-end;
}

.about .about-img img{
    width: 100%;
}

.about .about-desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about-desc h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: var(--secundary-color);
    margin: 60px 0 20px;
}

.about .about-desc p{
    font-size: 1.3rem;
    font-weight:400;
    color: #e7e7e7;
    max-width: 500px;
    line-height: 25px;
    margin-bottom: 20px;
    max-width: 320px;
}

/* Time */

.team {
    margin-bottom: 30px;
}

.team .container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.team .container h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: var(--primary-color);
    margin: 30px 0 20px;
}

.team .container .cards{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.team .container .cards .card{
    text-align: center;
    padding-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 15px 20px #1e283259;
    transition: all 300ms linear;
    margin: 0 0 50px 25px;
    min-width: 270px;
}

.team .container .cards .card:first-child{
    margin-left: 0;
}

.team .container .cards .card:nth-child(4){
    margin-left: 0;
}

.card img{
    width: 270px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card h2{
    margin: 15px 0 15px;
    color: var(--primary-color);
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 300ms linear;
}

.card h3{
    margin-bottom: 25px;
    color: var(--secundary-color);
    font-size: 1.4rem;
    transition: all 300ms linear;
}

.card .social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card .social a{
    padding: 8px;
    margin-left: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transition: all 300ms linear;
}

.card .social a:first-child{
    margin-left: 0;
}

.card .social a i{
    color: var(--primary-color);
    transition: all 300ms linear;
}

.team .container .cards .card:hover {
    box-shadow: 0 10px 30px #1e283275;
    transform: translateY(-6px);
}

.team .container .cards .card:hover h2{
    color: var(--secundary-color);
}

.team .container .cards .card:hover h3{
    color: var(--primary-color);
}


.team .container .cards .card a:hover{
    background-color: var(--primary-color);
}


.team .container .cards .card a:hover i{
    color: white;
}

/* Contato */

.contact{
    background-color: var(--primary-color);
}

.contact .container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.contact .container h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: var(--secundary-color);
    margin: 30px 0 40px;
}

.flex{
    display: flex;
    flex-direction: row-reverse;
}

.contact-info{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contact-info .info{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 30px;
}

.info a{
    width: 50px;
    height: 50px;
    padding: 12px;
    border: 2px solid var(--secundary-color);
    border-radius: 50%;
    transition: all 300ms linear;
    cursor: auto;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info a i{
    color: var(--secundary-color);
    transition: all 300ms linear;
    line-height: 10px;
}

.info a:hover{
    background-color: var(--secundary-color);
}

.info a:hover i{
    color: white;
}

.info h4{
    max-width: 300px;
    font-size: 1.5rem;
    color: var(--secundary-color);
    font-weight: 500;
}

.contact form{  
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.contact .fieldset{
    display: flex;
}

.contact form input[type="text"], .contact form textarea{
    display: block;
    width: 300px;
    padding: 12px 12px;
    margin-bottom: 23px;
    font-size: 1.5rem;
    border: 1px solid var(--secundary-color);
    border-radius: 4px;
    font-weight: 500;
    font-style: italic;
    color: white;
    background: transparent;
    transition: all 300ms linear;
}

.contact form textarea{
    height: 110px;
    font-size: 1.5rem;
    resize: none;
}

.contact form input::placeholder, .contact form textarea::placeholder{
    color: rgba(207, 207, 207, 0.884);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.contact form input:focus, .contact form textarea:focus{
    box-shadow: 0 0 30px #da261da4;
    border: 1px solid #DA251D;
}

.contact form button{
    display: block;
    padding: 12px 12px;
    width: 100px;
    border-radius: 4px;
    font-size: 1.5rem;
    color: white;
    background: linear-gradient(201.04deg, #DA251D 0%, #ff5b52 100%);
    box-shadow: 0px 10px 60px #ff0d008a;
    border-radius: 4px;
    font-weight: 600;
    transition: opacity 300ms linear;
    cursor: pointer;
}

.contact form button:hover{
    opacity: 0.8;
}

/* Rodapé */


footer{
    padding: 24px 20px;
    text-align: center;
    background-color: var(--secundary-color);
}

footer h2{
    font-size: 1.5rem;
    color: white;
}

footer h2 span{
    color: var(--primary-color);
    font-size: 1.6rem;
}

/* Animação */

[data-anime]{
    opacity: 0;
    transition: all 300ms linear;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"]{
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


